body{background:#0a0a0a;color:#e0e0e0;font-family:Arial;padding:20px}
.container{max-width:600px;margin:auto;background:#111;padding:25px;border-radius:15px;border:1px solid #00ff88}
h1{text-align:center;color:#00ff88}
.sub{text-align:center;color:#aaa;margin-bottom:20px}
.audit-box input{width:100%;padding:10px;margin:5px 0;background:#222;border:1px solid #333;color:#0f0;border-radius:8px}
.tabs{display:flex;gap:5px;margin:15px 0}
.tabs button{flex:1;padding:10px;background:#222;border:1px solid #00ff88;color:#0f0;border-radius:8px;cursor:pointer}
.tabs button:hover{background:#00ff88;color:#000}
.tab-content textarea,input{width:100%;padding:12px;margin:10px 0;background:#222;border:1px solid #333;color:#fff;border-radius:8px;min-height:80px}
button{padding:12px;width:100%;background:#00ff88;color:#000;border:none;border-radius:8px;font-weight:bold;cursor:pointer;margin:5px 0}
.btn-pdf{background:#ff4444;color:#fff}
#skorBox{margin-top:20px;padding:15px;background:#1a1a1a;border-radius:10px;text-align:center}
#skor{font-size:40px;color:#00ff88}
#statusSkor{font-size:18px;margin-top:5px}
.footer{font-size:11px;color:#555;text-align:center;margin-top:15px}
.hasil-box{padding:12px;margin-top:10px;border-radius:8px;font-weight:bold}
.bahaya{background:#ff4444;color:#fff}
.aman{background:#00aa55;color:#fff}
.waspada{background:#ffaa00;color:#000}
